:local {
  .title {
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    h1 {
      font-weight: 400;
      font-size: 2rem;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    h1::after {
      content: " ";
      position: absolute;

      bottom: -3px;
      width: 80px;
      height: 3px;
      background-color: white;
    }
  }
}
