:local {
  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;

    h1 {
      color: #2a67a5;
    }
  }
  .yellow {
    background-color: yellow;
    height: 30px;
  }
  .gray {
    background-color: gray;
    height: 30px;
  }
  .blue {
    background-color: lightskyblue;
    height: 30px;
  }
}
